<footer class="site-footer h-card">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                {%- include social.html -%}
            </div>

            <div class="anti-footer-col">
                &copy; {{ site.time | date: '%Y' }} Scott Schmidt	
            </div>
      </div>
    </div>
  
  </footer>
