<div>
    {% for section in resume.sections %}
        {% if section.data.size != 0 %}
            {% capture fe_title %}
                {{ section.title | downcase }}
            {% endcapture %}
            {% if section.title == 'Technical Competencies'%}
                {% include resume/technical_competencies.html title=fe_title competencies=section.data %}
            {% elsif section.title == 'Work Experience'%}
                {% include resume/work_experience.html title=fe_title work_experience=section.data %}
            {% elsif section.title == 'Personal Projects'%}
                {% include resume/personal_projects.html title=fe_title personal_projects=section.data %}
            {% elsif section.title == 'Education'%}
                {% include resume/education.html title=fe_title education=section.data %}
            {% endif %}
        {% endif %}
    {% endfor %} 
</div>
